@charset "UTF-8";


#container{z-index: 10;position: relative;margin-top:141px}
.sub_visual{position: relative;height: 450px;}
.sub_visual .sub_bg{position: absolute;top:0;left:0;width: 100%;bottom: 0;}
.sub_visual .sub_bg .bg_img{width: 100%;height: 100%;background-image: url('../images/sub/sub_visual.png');background-position: center center;background-repeat: no-repeat;background-size: cover;}
.sub_head{position: relative; height: 300px;width: 100%;text-align: center;}
.sub_head .sub_title{padding-top: 190px;}
.sub_head .sub_title h2{font-size: 45px;line-height: 1.5em;color: #fff;}

/* 컨텐츠 영역 */
#contents{position: relative;min-height: 500px;background-color: #fff;padding: 50px 0}

/* 여행정보 > 추천여행지 */
/* 포토리스트 */
.gallery_list{position:relative; border-top:1px solid #191d2b; border-bottom:1px solid #898f9d;padding: 40px 0 5px;}
.gallery_list .gallery_item{position:relative; float:left; padding-bottom:35px;}
.gallery_list .gallery_item a{display:block; position:relative;text-decoration: none;}
.gallery_list .gallery_item .photobox{overflow: hidden;display:block; position:relative;border-radius: 10px;width: 100%;height: 240px;}
.gallery_list .gallery_item a:hover .photobox .inner_photo{transform:scale(1.1)}
.gallery_list .gallery_item .photobox .inner_photo{display:block; position:relative; height:240px;background-color:#ccc; background-repeat:no-repeat; background-position:center center; background-size:cover; color:transparent; font-size:0;border-radius: 10px;transition: transform 0.5s ease-in;}
.gallery_list .gallery_item.noimage .photobox .inner_photo{background-color:#f6f8fe;}
.gallery_list .gallery_item.noimage .photobox .inner_photo:before{display:block; position:absolute; top:50%; left:50%; width:71px; height:71px; background-repeat:no-repeat; background-position:center center; background-image:url(../images/program/newskin/noimage.png); content:''; transform:translate(-50%, -50%);}
.gallery_list .gallery_item .photobox .photo{display:block; position:absolute; top:0; left:0; width:0; height:0; line-height:0;}
.gallery_list .gallery_item .photobox .photo img{width:0; height:0;}
.gallery_list .gallery_item .title{display:block; height:30px; overflow:hidden; line-height:30px; font-size:18px; font-weight:400; letter-spacing:-0.02em;color:#3a4159;text-overflow:ellipsis; display: -webkit-box; -webkit-line-clamp:1; -webkit-box-orient: vertical;}
.gallery_list .gallery_item a:hover .title{color:#063eff}
.gallery_list .gallery_item .photobox + .title{margin-top:25px;}
.gallery_list .gallery_item .date{display:block;line-height:24px; color:#898f9d; font-size:15px; font-weight:400; letter-spacing:-0.02em;font-family: 'Montserrat', "Malgun Gothic", "맑은 고딕", "Dotum", "돋움", "Gulim", "굴림", sans-serif;}
.gallery_list .gallery_item a + .date{margin-top:8px;}
.gallery_list .gallery_item .tag{font-size: 15px;line-height: 1.2em;color: #ff91b0;font-weight: 400;margin-bottom: 10px;}
.gallery_list .gallery_item .instar_bar{width: 100%;background-color: #fffee5;border-radius: 10px;padding: 5px;margin-top:5px}
.gallery_list .gallery_item .instar_bar > ul > li{display:inline-block;width: calc(33.333% - 4px);font-size: 15px;line-height: 1.2em;color: #686161;text-align: center;}
.t_icon{display:inline-block;width:20px;height:20px;background-position: center center;background-repeat: no-repeat;background-size: cover;}
.t_icon.reply{background-image: url('../images/sub/comment.png');}
.t_icon.like{background-image: url('../images/sub/like.png');}
.t_icon.search{background-image: url('../images/sub/note.png');}
.gallery_list .instar_bar .item{padding-top:4px}
.gallery_list .instar_bar span{font-size: 15px;line-height: 25px;vertical-align: top;margin-left: 10px;}

.gallery_list + .p-pagination{margin-top:50px;}

@media all and (min-width:641px){
    .gallery_list .gallery_item{width:31.4%; margin-right:2.9%;}
    .gallery_list .gallery_item:nth-child(3n){margin-right:0;}
    .gallery_list .gallery_item:nth-child(-n+3){border-top:none;}
}

@media all and (max-width:1000px){
    .gallery_list .gallery_item .photobox .inner_photo{height:0; padding:33% 0;}
}

@media all and (max-width:640px){
    .gallery_list .gallery_item{width:48.5%; margin-right:3%;}
    .gallery_list .gallery_item:nth-child(2n){margin-right:0;}
    .gallery_list .gallery_item:nth-child(-n+2){border-top:none;}
    .gallery_list .gallery_item .photobox + .title{margin-top:15px;}
    .gallery_list .gallery_item .title{height:22px; line-height:22px; font-size:15px;}
    .gallery_list .gallery_item a + .date{margin-top:6px;}
    .gallery_list .gallery_item .date{font-size:14px;}
}

/* 댓글창 */
.reply_area{position:relative;background-color: #f6f6f7;margin-top:20px;padding:20px;border-radius: 10px;font-family: 'Pretendard','NotoKr';}
.replyInput{margin: 25px 0;}
.replyInput .nickName{position: relative;font-size:16px;line-height: 1.5em;color: #2600b5;margin-bottom: 10px;}
.replyInput .cont{display:table;}
.replyInput .cont .col_line{display:table-cell;vertical-align: top;}
.replyInput .cont .col_line.input{width:100%;}
.replyInput .cont .col_line.input textarea{width:100%;border-radius: 6px 0 0 6px;border-color: #ccc;height: 72px;}
.replyInput .cont .col_line.submit .btn{margin:0;height: 72px;border-radius: 0 6px 6px 0;border-left:none;border-color: #ccc;background-color:#dadce0;font-size: 16px;
    font-weight: 600;}
.replyList{margin: 25px 0;}
.replyList .nickName{position: relative;font-size:16px;line-height: 1.5em;color: #2600b5;margin-bottom: 10px;}
.replyList .cont{margin:10px 0}
.replyList .cont .cont_line{font-size:15px;line-height:1.2em;color:#898f9d}
.replyList .submit_date{font-size:13px;line-height:1.2em;color:#898f9d}

/* web */
@media all and (max-width:1200px){

}

/* tablet */
@media all and (max-width:1000px){

}

/* mobile */
@media all and (max-width:640px){

}

/* 숙소예약 */
/* 숙소예약 - 리스트 */
.stay_list_warp{}
.stay_list_warp .stay_box{padding:30px 0;border-bottom: 1px solid #ccc;} 
.stay_list_warp .stay_list_title{position: relative;padding-left:30px;font-size: 30px;line-height: 1.5em;font-weight: 600;color: #000;} 
.stay_list_warp .stay_list{position: relative;padding:30px 0;font-size:0;line-height:0;} 
.stay_list_warp .stay_item{display: inline-block;margin-right: 20px;width: calc(25% - 20px);vertical-align: top;} 
.stay_list_warp .stay_item:nth-last-child{margin-right: 0;}
.stay_list_warp .stay_item > a{text-decoration: none;}
.stay_list_warp .stay_item .image{overflow: hidden;width: 100%;height: 226px;}
.stay_list_warp .stay_item .cont{font-size:18px;line-height: 1.2em;margin:20px 0 40px}
.stay_list_warp .stay_item .cont .regin{color:#003fa1;}
.stay_list_warp .stay_item .cont .tit{color:#000;margin-left:5px}
.stay_list_warp .stay_item .cont .hash{margin-top: 10px;}
.stay_list_warp .stay_item .cont .hash_list{}
.stay_list_warp .stay_item .cont .hash_item{display: inline-block;font-size: 13px;margin-right: 5px;background-color: #d8defd;padding: 0 10px;border-radius: 6px;}
.stay_list_warp .stay_item .price{font-size: 24px;color: #003fa1;font-weight: 600;line-height: 1.2em;text-align: right;}

/* 숙소예약 - 상세페이지 */
.stay_detail_wrap{position: relative;}
.stay_detail_wrap .detail_list{}
.stay_detail_wrap .detail_top{padding: 50px 0;border-bottom: 1px solid #000;border-top: 2px solid #000;}
.stay_detail_wrap .detail_top .stay_list{display:block;}
.stay_detail_wrap .detail_top .image{display: inline-block;width: 500px;vertical-align: top;} 
.stay_detail_wrap .detail_top .desc{display: inline-block;width: calc(100% - 556px);margin-left: 50px;vertical-align: top;} 
.stay_detail_wrap .detail_top .desc .cont{position: relative;margin-bottom: 20px;}
.stay_detail_wrap .detail_top .desc .cont .part{font-size: 13px;}
.stay_detail_wrap .detail_top .desc .cont .title{font-size: 20px;}
.stay_detail_wrap .detail_top .desc .cont .keyword{font-size: 16px;}
.stay_detail_wrap .detail_top .desc .info{position: relative;margin-bottom: 20px;}
.stay_detail_wrap .detail_top .desc .price_box{text-align: right;margin-top: 50px;}
.stay_detail_wrap .detail_top .desc .price{font-size: 30px;line-height: 1.5em;font-weight: 600;}
.stay_detail_wrap .detail_top .desc .add{}