<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springGroupS09.dao.StayDAO">

	<select id="getStaylist" resultType="com.spring.springGroupS09.vo.StayVO">
		SELECT stay_thumbnail, region, part, title, stay_tags, price FROM stay ORDER BY stay_idx DESC;
	</select>
</mapper>