<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springGroupS09.dao.TravelDAO">

	<select id="getTravelList" resultType="com.spring.springGroupS09.vo.TravelVO">
    select * from travel p <if test='part !="전체"'> where part = #{part}</if> order by ${choice} desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="getTravelIdxSearch" resultType="com.spring.springGroupS09.vo.TravelVO">
		select pg.*,(select count(*) from travelReply where travelIdx = #{idx}) as replyCnt from travel pg where pg.idx = #{idx};
	</select>
	
	<select id="getTravelReply" resultType="com.spring.springGroupS09.vo.TravelVO">
		select *, idx as replyIdx from travelReply where travelIdx = #{idx} order by idx desc;
	</select>
	<!-- 최근 게시글 4개 조회(메인) -->
	<select id="getLatestTitles" resultType="com.spring.springGroupS09.vo.TravelVO">
		select idx, title, thumbnail, tags from travel order by pDate desc limit 4
	</select>
	
	<insert id="setTravelInput">
		insert into travel values (default,#{vo.mid},#{vo.part},#{vo.title},#{vo.content},#{vo.thumbnail},#{vo.address},default,default,default,#{vo.tags})
	</insert>
	
	<insert id="setTravelReplyInput">
		insert into travelReply values (default,#{vo.mid},#{vo.travelIdx},#{vo.content},default);
	</insert>
	
	<update id="setTravelUpdate">
		update travel set part=#{vo.part},title=#{vo.title},tags=#{vo.tags},content=#{vo.content},pDate=now() where idx=#{vo.idx}
	</update>

	<update id="setTravelReadNumPlus">
		update travel set readNum = readNum + 1 where idx = #{idx};
	</update>
	
	<update id="setTravelGoodPlus">
		update travel set goodCount = goodCount + 1 where idx = #{idx};
	</update>
	
	<delete id="setTravelReplyDelete">
		delete from travelReply where idx = #{idx}; 
	</delete>
	
	<delete id="setTravelDelete">
		delete from travelReply where travelIdx = #{idx}; 
		delete from travel where idx = #{idx}; 
	</delete>
</mapper>